package views

templ Navbar() {
    <nav class="navbar">
        // <a href="http://localhost:1323/" className={`${window.location.pathname === '/'? 'active-nav': ''}`}>Home</a>
        <a href="http://localhost:1323/" class="active-nav">Home</a>

        <a href="http://localhost:1323/pokemons" class="">Pokemons</a>
    </nav>
}