package views

templ Pokemon() {
    <div>
        <h3 className="poke-name">{name}</h3>
        <h4 className="poke-type">{id}</h4>
        // <UpdatePokemonForm id={id} setPokemons={setPokemons} />
        // <ReleasePokemonForm id={id} setPokemons={setPokemons} />
    </div>
}