package views

import "fmt"

templ Pokemon(id uint, name string) {
    <div>
        <h3 class="poke-name">{name}</h3>
        <h4 class="poke-type">{fmt.Sprint(id)}</h4>
        @UpdatePokemonForm(id)
        @ReleasePokemonForm(id)
    </div>
}