package views

templ ReleasePokemonForm(id string) {
    <form class="poke-release" method="POST" action="">
        <input hidden value={ id } type="text" />
        @Button(false, false, "Release")
    </form>
}