package views

templ UpdatePokemonForm(id string) {
    <form method="POST" action="">
        <input type="text" class="poke-input" />
        <input type="text" hidden value={id} />
        @Button(false, false, "Change level")
    </form>
}