package views

import ("fmt")

templ UpdatePokemonForm(id uint) {
    <form method="POST" action="">
        <input type="text" class="poke-input" />
        <input type="text" hidden value={fmt.Sprint(id)} />
        @Button(false, false, "Change level")
    </form>
}